# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: mtrisha <mtrisha@student.21-school.ru>     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created:                     by mtrisha           #+#    #+#              #
#    Updated:                     by mtrisha          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.DS_Store
*.dSYM
/test/test
*.a
/tmp
